.library-background {
    position: relative;
    margin-top: 67px;
    width: 100%;
    height: calc(100vh - 67px);
    background-image: url("/assets/img/pages/cover.png");
    background-size: cover;
    background-position: center;
}

.overlay-library {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.library-background h1, 
.library-background .demo-inline-spacing,
.library-background h6,
.library-background p
{
    z-index: 2;
    position: relative;
}
.library-background p, .library-background h1 {
    color: #fff;
    text-align: center;
}